<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <meta name="theme-color" content="#000000" />

    <link rel="manifest" href="./manifest.json" />

    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="application-name" content="<%= htmlWebpackPlugin.options.gameName %>" />
    <meta name="apple-mobile-web-app-title" content="<%= htmlWebpackPlugin.options.gameName %>" />
    <meta name="msapplication-starturl" content="./" />

    <link rel="icon" type="image/png" sizes="192x192" href="./icons/icons-192.png" />
    <link rel="apple-touch-icon" type="image/png" sizes="192x192" href="./icons/icons-192.png" />

    <link rel="icon" type="image/png" sizes="512x512" href="./icons/icons-512.png" />
    <link rel="apple-touch-icon" type="image/png" sizes="512x512" href="./icons/icons-512.png" />

    <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon" />

    <title><%= htmlWebpackPlugin.options.gameName %></title>
    <style>
      html,
      body {
        height: 100%;
        margin: 0;
        background-color: #000000;
      }
    </style>

    <noscript>Please enable javascript to continue using this application.</noscript>

    <!-- installs the serviceWorker -->
    <!-- <script>
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
          navigator.serviceWorker.register('./sw.js')
        })
      }
    </script> -->
  </head>
  <body>
    <div style="display: flex; height: 100%; width: 100%; flex-direction: column;">
      <div id="mapEditorMenu" style="display: none; background-color: black; color: white; flex-direction: column; font-family: Calibri; padding: 8px 8px 12px 8px;">
        <div style="display: flex; flex-direction: row; justify-content: space-between;padding: 4px 12px;">
          <div>
            Load room:
            <select id="roomDropdown"><option>Loading...</option></select>
            <button id="loadRoomButton">Load</button>
          </div>
          <div>
            <button id="exportButton">Export</button>
          </div>
        </div>
        <div style="display: flex; flex-direction: row; justify-content: space-between;padding: 4px 12px;">
          <div>Room Name <input id="roomName" /></div>
          <div>
            TileSet
            <select id="tilesetDropdown"><option>Loading...</option></select>
          </div>
          <div>Room Width <input id="roomWidth" width=4 style="width: 50px;" /></div>
          <div>Room Height <input id="roomHeight" width=4 style="width: 50px;" /></div>
          <div><button id="goButton">Go</button></div>
        </div>
      </div>
      <div id="phaser-game"></div>
    </div>
    <a id="downloadAnchorElem" style="display:none"></a>
  </body>
</html>
