<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <meta name="theme-color" content="#000000" />

    <link rel="manifest" href="./manifest.json" />

    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="application-name" content="<%= htmlWebpackPlugin.options.gameName %>" />
    <meta name="apple-mobile-web-app-title" content="<%= htmlWebpackPlugin.options.gameName %>" />
    <meta name="msapplication-starturl" content="./" />

    <link rel="icon" type="image/png" sizes="192x192" href="./icons/icons-192.png" />
    <link rel="apple-touch-icon" type="image/png" sizes="192x192" href="./icons/icons-192.png" />

    <link rel="icon" type="image/png" sizes="512x512" href="./icons/icons-512.png" />
    <link rel="apple-touch-icon" type="image/png" sizes="512x512" href="./icons/icons-512.png" />

    <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon" />

    <title><%= htmlWebpackPlugin.options.gameName %></title>
    <style>
      html,
      body {
        height: 100%;
        margin: 0;
        background-color: #000000;
      }
    </style>

    <noscript>Please enable javascript to continue using this application.</noscript>

    <!-- installs the serviceWorker -->
    <!-- <script>
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
          navigator.serviceWorker.register('./sw.js')
        })
      }
    </script> -->
  </head>
  <body>
    <div style="display: flex; height: 100%; width: 100%; flex-direction: row;">
      <div id="npcEditorMenu" style="background-color: black; color: white; flex-direction: column; font-family: Calibri; padding: 24px">
        <div>
          <div>Load NPC:</div>
          <select
            style="width: 140px"
            id="npcDropdown"
          ><option>Loading...</option></select>
          <div style="margin-top: 18px">
            <button style="width: 120px; margin: 0 10px; padding: 8px;" id="loadNpcButton">Load</button>
          </div>
        </div>
        <div style="margin-top: 48px">
          <div>NPC Name</div>
          <input style="width: 140px" id="roomName" />
        </div>
        <div style="margin-top: 12px">
          <div>Body template</div>
          <select
            style="width: 140px"
            id="bodyDropdown"
          ><option value="body-1">body-1</option></select>
        </div>
        <div style="margin-top: 12px">
          <div>Hair template</div>
          <select
            style="width: 140px"
            id="hairDropdown"
          ><option value="hair-1">hair-1</option></select>
        </div>
        <div style="margin-top: 12px">
          <div>Shirt dropdown</div>
          <select
            style="width: 140px"
            id="shirtDropdown"
          ><option value="shirt-1">shirt-1</option></select>
        </div>
        <div style="margin-top: 12px">
          <div>Pants dropdown</div>
          <select
            style="width: 140px"
            id="pantsDropdown"
          ><option value="pants-1">pants-1</option></select>
        </div>
        <div style="margin-top: 60px">
          <button style="width: 120px; margin: 0 10px; padding: 8px;" id="exportButton">Export</button>
        </div>
      </div>
      <div id="phaser-game" style="flex-grow: 1"></div>
      <div id="npcEditorMenu" style="background-color: black; color: white; flex-direction: column; font-family: Calibri; padding: 24px">
        <div style="margin-top: 12px">
          <div>Body color 1</div>
          <input type="color" style="width: 140px" id="bodyColor1" />
        </div>
        <div style="margin-top: 12px">
          <div>Body color 2</div>
          <input type="color" style="width: 140px" id="bodyColor2" />
        </div>
        <div style="margin-top: 12px">
          <div>Eye color</div>
          <input type="color" style="width: 140px" id="eyeColor" />
        </div>
        <div style="margin-top: 12px">
          <div>Body outline</div>
          <input type="color" style="width: 140px" id="bodyOutlineColor" />
        </div>
        <div style="margin-top: 12px">
          <div>Hair Color 1</div>
          <input type="color" style="width: 140px" id="hairColor1" />
        </div>
        <div style="margin-top: 12px">
          <div>Hair Color 2</div>
          <input type="color" style="width: 140px" id="hairColor2" />
        </div>
        <div style="margin-top: 12px">
          <div>Hair Color 3</div>
          <input type="color" style="width: 140px" id="hairColor3" />
        </div>
        <div style="margin-top: 12px">
          <div>Hair Color 4</div>
          <input type="color" style="width: 140px" id="hairColor4" />
        </div>
      </div>
    </div>
    <a id="downloadAnchorElem" style="display:none"></a>
  </body>
</html>
